<h1>This pet's name is: <%= @pet.name %> !</h1>

<div class="pets-container container-fluid">
    <div class="pet-container">
      <p class="name"><%= link_to @pet.name, pet_toys_path(@pet) %></p>
      <p class="breed"><%= @pet.breed %></p>
      <p class="age"><%= @pet.age %></p>
      <p class="cute"><%= @pet.cute %></p>
    </div>
     <div class="toys-container">
      <p>Current List of This Pets Toys:</p>
      <% @pet.toys.each do |toy| %>
        <p class="description"><%= toy.description %></p>
      <% end %>
      <%= link_to 'back to all Pets', root_path %>
    </div>
</div>
